.banner {
  background: url("../Assets/banner.png") no-repeat center center;
  background-size: cover;
  color: #fff;
  padding: 80px 90px;
}

@media (max-width: 995px) {
  .banner {
    padding: 50px 20px;
  }
}
@media (max-width: 760px) {
  .banner {
    background: #1f1240;
  }
}

.callToAction {
  max-width: 470px;
}
@media (max-width: 760px) {
  .callToAction {
    margin: 0 auto;
  }
}
.text {
  font-size: 16px;
  line-height: 34px;
  margin: 30px 0;
  opacity: 0.75;
}
